@keyframes fade {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.animate-fade {
  animation: fade 2s infinite ease-in-out;
}

@keyframes dash {
  0% { stroke-dashoffset: 200; }
  50% { stroke-dashoffset: 0; }
  100% { stroke-dashoffset: 200; }
}

.animate-dash {
  animation: dash 2s infinite ease-in-out;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-40px); }
  100% { transform: translateY(0); }
}

.animate-float {
  animation: float 5s infinite ease-in-out;
}
